<div class="tw-flex tw-flex-row">
  <front-end-internship-assignment-navbar></front-end-internship-assignment-navbar>
  <section class="search-results tw-w-full tw-relative">
    <div class="header">
      <div class="search-button tw-px-2">
        <mat-icon
          class="tw-cursor-pointer tw-mr-2 tw-text-[24px] tw-text-light-border"
          (click)="search()"
          aria-label="Search Icon"
          >search</mat-icon
        >
        <input
          [formControl]="bookSearch"
          (keyup.enter)="search()"
          name="searchKey"
          type="text"
          placeholder="Search Books..."
          class="tw-border-0 tw-bg-transparent tw-w-11/12"
        />
        <mat-icon
          class="tw-cursor-pointer tw-text-light-border tw-text-[24px]"
          *ngIf="currentQuery"
          (click)="clearCurrentQuery()"
          aria-label="Clear Icon"
          >clear</mat-icon
        >
      </div>
    </div>
    <div *ngIf="searchResults.length > 0 && !isLoading && !errorMessage">
      <front-end-internship-assignment-table-view
        [searchResults]="searchResults"
        [searchQuery]="query"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
      ></front-end-internship-assignment-table-view>
    </div>
    <h3 *ngIf="query.length === 0" class="empty-search">
      Search either Book or Author in the search bar above
    </h3>
    <h3 *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </h3>
  </section>
</div>
<div *ngIf="isLoading" class="loader">
  <div class="loader-circle"></div>
</div>
